In [2]:
# 001

print('Hello World')

Hello World

In [6]:
# 002

print('Mary\'s cosmetics')

Mary's cosmetics

In [10]:
# 003

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
# 004

print('C:\Windows')

C:\Windows

In [12]:
# 005

print("안녕하세요. \n만나서\t\t반갑습니다.")

# \n는 줄바꿈, \t 탭 삽입

안녕하세요.
만나서		반갑습니다.

In [16]:
# 006

print("오늘은", "일요일")

# 여러 값을 출력 시 쉼표로 구분하면 공백으로 값을 구분하여 출력한다.

오늘은 일요일

**sep인자**

sep 인자를 활용하여 출력되는 값들 사이에 동일한 값을 삽입할 수 있다.

In [17]:
# 007

print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [18]:
# 008

print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [20]:
# 009

print("first", end='');print("second")

firstsecond

In [23]:
# 010

print(5/3)

1.6666666666666667

In [25]:
# 011

samsung = 50000
total_eval = samsung * 10
print(total_eval)

500000

In [26]:
# 012

market_capital = 298000000000000
current_price = 50000
PER = 15.79
print(market_capital)
print(current_price)
print(PER)

298000000000000
50000
15.79

In [28]:
# 013

s = "hello"
t = "python"

print(s, t, sep='! ')
print(s+'!', t)

hello! python
hello! python

In [29]:
# 014

a = 128
print(type(a))

b = "132"
print(type(b))

<class 'int'>
<class 'str'>

In [32]:
# 016

num_str = "720"
num_int = int(num_str)

print(num_int, type(num_int))

720 <class 'int'>

In [33]:
# 017

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [53]:
# 018

result = float('15.79')
print(result, type(result))

15.79 <class 'float'>

In [57]:
# 019

year = '2020'
result = int(year)
print(result - 3, result - 2, result - 1)

2017 2018 2019

In [58]:
# 020

ac_month = 48584
total = ac_month * 36
print(total)

1749024

In [60]:
# 021

letters = 'python'
print(letters[0], letters[2])

p t

### 문자열 슬라이싱

파이썬의 인덱스는 앞에서부터 0, 뒤에서부터 -1의 값을 갖는다.
시작 인덱스를 생략하면 0으로 간주하고, 마지막 인덱스를 생략하면 문자열의 끝을 의미한다.

In [65]:
# 022

license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [71]:
# 023

string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [72]:
# 024

string = 'PYTHON'
print(string[::-1])

NOHTYP

In [74]:
# 025

phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

# string은 immutable 자료형이므로 기존 문자열은 그대로 두고 새로운 문자열이 리턴된다.

010 1111 2222

In [75]:
# 026

print(phone_number.replace('-', ''))

01011112222

In [80]:
# 027

url = 'http://sharebook.kr'
print(url[-2:])

# 풀이 오답
# 주어진 문자열에서 '.'을 기준으로 분리하면 어떤 url을 넣더라도 도메인만 출력할 수 있다.
print(url.split('.')[-1])

kr
kr

## 데이터의 분류
> cf. 01_data_container

1. 변경 불가능한(`immutable`) 데이터
    - Reference(참조) 할 뿐, 값이 복사되지고 메모리 주소만 복사 전달된다.다.
    - 원본 값하지 않고 새로운 객체를 생성한다변한다.
    - 종류
      - literal
        - 숫자 (integer/float)
        - 글자 (string)
        - 참/거짓 (bool)
      - range()
      - tuple()
      - frozenset()
2. 변경 가능한(`mutable`) 데이터
    - Value 타입으로, 값이 실제로 넘어가기 때문에 형태로  - 데??**
    -  원본 이 변한다.
       종류
        -  lis
        -   dict
       -  set  -  d     -  set

---

In [81]:
# 028

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없는 immutable 변수이다.

TypeError: 'str' object does not support item assignment

In [85]:
# 029

string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [87]:
# 030

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [88]:
# 031

a = '3'
b = '4'
print(a + b)

34

In [89]:
# 032

print('Hi' * 3)

HiHiHi

In [90]:
# 033

print('-' * 80)

--------------------------------------------------------------------------------

In [96]:
# 034

t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [103]:
# 035

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

# 풀이 답안: % formatting
# '%s': 문자열 데이터 타입의 값의 출력
# '%d': 정수형 데이터 타입 값의 출력
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [104]:
# 036

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# format() 메서드
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [105]:
# 037

# f-string => python 3.6ver 부터 지원
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [107]:
# 038

stock_num = '5,969,782,550'
result = int(stock_num.replace(',', ''))
print(result, type(result))

5969782550 <class 'int'>

In [108]:
# 039

q = '2020/03(E) (IFRS연결)'
print(q[:7])

2020/03

In [109]:
# 040

data = "   삼성전자    "

print(data.rstrip().lstrip())

삼성전자

In [110]:
# 041

ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [111]:
# 042

ticker = 'BTC_KRW'
print(ticker.lower())

btc_krw

### 대소문자 변환

`.capitalize()`: 앞 글자를 대문자로 만들어 반환한다. \
`.tile()`: 어퍼스트로피(')나 공백 이후를 대문자로 만들어 반환한다. \
`.upper()`: 모두 대문자로 만들어 반환 \
`.lower()`: 모두 소문자로 만들어 반환 \
`.swapcase()`: 대소문자를 변경하여 반환

In [114]:
# 043

result = 'hello'
print(result.capitalize())

Hello

### startswith 메서드

startswith 메서드를 활용하여 파일 이름이 특정 문자열로 시작하는지 확인할 수 있다.

### endswith 메서드

endswith 메서드를 활용하여 파일 이름이 특정 문자열로 끝나는게 맞는지 확인할 수 있다. \
여러 개의 특정 문자열 중 하나인지 확인할 경우에는 tuple을 사용한다.

In [115]:
# 044

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

True

In [124]:
# 045

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx' or 'xls'))
print(file_name.endswith(('xlsx', 'xls')))

True
True

In [126]:
# 046

file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

True

In [132]:
# 047

a = 'hello world'
print(a.split())

['hello', 'world']

In [133]:
# 048

ticker = 'btc_krw'
print(ticker.split('_'))

['btc', 'krw']

In [134]:
# 049

date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

In [137]:
# 050

data = "039490     "
print(data.rstrip())

039490

In [139]:
# 051

movie_rank = ['doctor strange', 'split', 'lucky']
print(movie_rank)

['doctor strange', 'split', 'lucky']

In [141]:
# 052

movie_rank.append('batman')
print(movie_rank)

['doctor strange', 'split', 'lucky', 'batman', 'batman']

In [142]:
# 053

movie_rank.insert(1, 'super man')
print(movie_rank)

['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']

In [150]:
# 054

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
movie_rank.remove('lucky')
print(movie_rank)

# remove는 하나의 값만 받는다.

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
del movie_rank[3]
print(movie_rank)

['doctor strange', 'super man', 'split', 'batman', 'batman']
['doctor strange', 'super man', 'split', 'batman', 'batman']

In [152]:
# 055

del movie_rank[2:]
print(movie_rank)

['doctor strange', 'super man']

In [154]:
# 056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [158]:
# 057

nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max:  {max(nums)}\nmin:  {min(nums)}')
print()
print('max:  ', max(nums))
print('min:  ', min(nums))

max:  7
min:  1

max:   7
min:   1

In [159]:
# 058

nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [161]:
# 059

cook = ['pizza', 'kimbap', 'dumpling', 'chicken', 'pork feet', 'kimchi dumpling', 'jjolmyeon', 'sausage', 'ramen', 'shaved ice', 'kimchi pancake']
len(cook)

11

In [162]:
# 060

nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0

In [1]:
# 061

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [3]:
# 062

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [4]:
# 063

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [5]:
# 064

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [10]:
# 065

interest = ['samsung', 'lg', 'naver']
print(interest[::2])
print(interest[0], interest[2])

['samsung', 'naver']
samsung naver

In [14]:
# 066

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print(' '.join(interest))

samsung lg naver sk mirae

In [ ]:
# 067

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print('/'.join(interest))

In [15]:
# 068

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print('\n'.join(interest))

samsung
lg
naver
sk
mirae

In [18]:
# 069

string = 'samsung/lg/naver'
interest = string.split('/')
print(interest)

['samsung', 'lg', 'naver']

In [20]:
# 070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [27]:
# 071

my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [28]:
# 072

movie_rank = ('doctor strange', 'split', 'lucky')
print(movie_rank)

('doctor strange', 'split', 'lucky')

In [32]:
# 073

number = (1, )
print(type(number))

<class 'tuple'>

In [33]:
# 074

# 입력 코드
>> t = (1, 2, 3)
>> t[0] = 'a'

# 오류: tuple은 immutable 데이터이기에 변경 불가능하다.
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2670491144.py, line 5)

In [34]:
# 075

t = 1, 2, 3, 4
type(t)  #tuple
#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작한다.

tuple

In [36]:
# 076

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [39]:
# 077

interest = ('samsung', 'lg', 'sk')
print(list(interest))

['samsung', 'lg', 'sk']

In [40]:
# 078

interest = ['samsung', 'lg', 'sk']
print(tuple(interest))

('samsung', 'lg', 'sk')

In [41]:
# 079

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# tuple unpacking

apple banana cake

In [54]:
# 080

data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

### 별 표현식 (star expression)

- 좌변과 우변의 변수 개수가 달라도 데이터 언패킹 가능하다.
- 별 표현식을 활용하여, 필요한 요소 값만 패킹하고 나머지 값은 언패킹을 유지할 수 있다.
- 이 때 여러 값을 바인딩한 변수는 리스트로 출력된다. (?)

<참고>
- 변수의 역할이 필요하긴 하나, 나중에 사용하지 않을 경우 언더 스코어(`_`)를  사용한다.

In [3]:
# 081

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [4]:
# 082

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [5]:
# 083

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [11]:
# 084

temp = { }
print(temp)

{}

In [18]:
# 085

ice_cream = {'merona': 1000, 'polapo': 1200, 'bbangparae':1800}
print(ice_cream)

{'merona': 1000, 'polapo': 1200, 'bbangparae': 1800}

In [19]:
# 086

ice_cream.update({'jawsbar': 1200, 'worldcon': 1500})
print(ice_cream)

{'merona': 1000, 'polapo': 1200, 'bbangparae': 1800, 'jawsbar': 1200, 'worldcon': 1500}

### 딕셔너리에서 key 값 가져오는 방법

1. `.get()` 메서드 사용하기
2. `[]` 사용하기

In [36]:
# 087

print('메로나 가격:', ice_cream['merona'])
print('메로나 가격:', ice_cream.get('merona'))

메로나 가격: 1000
메로나 가격: 1000

In [37]:
# 088

ice_cream['merona'] = 1300
print(ice_cream)

{'merona': 1300, 'polapo': 1200, 'bbangparae': 1800, 'jawsbar': 1200, 'worldcon': 1500}

### 딕셔너리에서 key 값 삭제하는 방법

1. `del` 사용하기

In [40]:
# 089

del ice_cream['merona']
print(ice_cream)

{'polapo': 1200, 'bbangparae': 1800, 'jawsbar': 1200, 'worldcon': 1500}

In [45]:
# 090

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# '누가바'라는 key 값이 없기 때문에 keyerror 발생

KeyError: '누가바'

In [1]:
# 091

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory)

{'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}

In [2]:
# 092

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory['merona'][0], '원')

300 원

In [3]:
# 093

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory['merona'][1], '개')

20 개

In [5]:
# 094

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
inventory.update({'worldcon': [500, 7]})
print(inventory)

{'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100], 'worldcon': [500, 7]}

### 딕셔너리 메서드

- `.keys()`: 딕셔너리로부터 key 값만 출력
- `.values()`: 딕셔너리로부터 value 값만 출력
- `.update()`: 딕셔너리에 새로운 key, value 값을 추가
   - mutable하기 때문에 원본에 값이 추가 및 삭제된다.

In [14]:
# 095

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
ice = list(icecream.keys())
print(ice)

['tankboy', 'polapo', 'bbangparae', 'worldcon', 'merona']

In [17]:
# 096

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [20]:
# 097

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
print(sum(icecream.values()))

6700

In [28]:
# 098

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
new_product = {'ppatbingsu': 2700, 'amatna': 1000}
icecream.update(new_product)
print(icecream)

{'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000, 'ppatbingsu': 2700, 'amatna': 1000}

### 딕셔너리 활용법

- `zip`: 두 개의 튜플을 하나의 딕셔너리로 변환한다.
  - 예시: `dict(zip(keys, vals))`
- 딕셔너리의 key 값을 중괄호 안에 넣으면 대응하는 value 값을 출력한다.
  - 예시: 환율 = {"달러": 1167,  "엔": 1.096,  "유로": 1268   "위안": 1
    
          환율['달러'] = 1167
          환율['엔'] = 1.09671}

In [32]:
# 099

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [ ]:
# 101

# 파이썬에서 True 혹은 False를 갖는 데이터 타입
bool

In [1]:
# 102

print(3 == 5)  # False

False

In [2]:
# 103

print(3 < 5) # True

True

In [3]:
# 104

x = 4
print(1 < x < 5) # True

True

In [4]:
# 105

print((3 == 3) and (4 != 3)) # True and True => True

True

In [5]:
# 106

print(3 => 4) # =>가 아닌 >=가 적절하다.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2390400816.py, line 3)

In [7]:
# 107

if 4 < 3:
    print("Hello World")
# 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않는다.

In [8]:
# 108

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# Hi, there.

Hi, there.

In [10]:
# 109

if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

# 1
# 2
# 4

1
2
4

In [11]:
# 110

if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")
# 3
# 5

3
5

In [14]:
# 111

user_input = input('문자를 입력하시오.: ')
print(user_input * 2)

문자를 입력하시오.:  안녕하세요

안녕하세요안녕하세요

In [17]:
# 112

user_input = int(input('숫자를 입력하시오.: '))
print(user_input + 10)

숫자를 입력하시오.:  15

25

In [19]:
# 113

user_input = int(input('숫자를 입력하시오.: '))
if user_input % 2 == 1:
    print('홀수')
else:
    print('짝수')

숫자를 입력하시오.:  12

짝수

In [25]:
# 114

user_input = int(input('입력값: '))
result = user_input + 20
if result > 255:
    print('255')
else:
    print(result)

입력값:  234

254

In [27]:
# 115

user_input = int(input('입력값: '))
result = user_input - 200
if 0 > result:
    print(0)
elif result > 255:
    print(255)
else:
    print(result)

입력값:  250

50

In [4]:
# 116

user = input('현재시간: ')
if user[-2:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

현재시간:  15:38

정각이 아닙니다.

In [2]:
# 117

fruit = ['사과', '포도', '홍시']
answer = input('좋아하는 과일은?: ')
if answer in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은?:  샤인머스캣

오답입니다.

In [3]:
# 118

warn_investment_list = ['Microsoft', 'Google', 'Naver', 'Kakao', 'SAMSUNG', 'LG']
answer = input('종목명: ')
if answer in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

종목명:  Naver

투자 경고 종목입니다.

In [5]:
# 119

fruit = {'spring':'strawberry', 'summer':'tomato', 'autumn':'apple'}
answer = input('제가 좋아하는 계절은: ')
if answer in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

제가 좋아하는 계절은:  summer

정답입니다.

In [6]:
# 120

fruit = {'spring':'strawberry', 'summer':'tomato', 'autumn':'apple'}
answer = input('좋아하는 과일은?: ')
if answer in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은?:  한라봉

오답입니다.

In [15]:
# 121

user = input('문자 한 글자를 입력해 주세요.: ')
if user.islower() is True:
    print(user.upper())
else:
    print(user.lower())

# is True는 생략 가능하다.

문자 한 글자를 입력해 주세요.:  g

G

In [17]:
# 122

score = int(input('score: '))
if score <= 20:
    print('E')
elif score <= 40:
    print('D')
elif score <= 60:
    print('C')
elif score <= 80:
    print('B')
elif score <= 100:
    print('A')

score:  54

C

In [33]:
# 123
# 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다. (달러, 엔, 유로, 위안)

user = input('입력: ')
if user[-2:] == '달러':
    print(int(user[:-3])*1167, '달러')
elif user[-1] == '엔':
    print(float(user[:-2])*1.096, '엔')
elif user[-2:] == '유로':
    print(int(user[:-3])*1268, '유로')
elif user[-2:] == '위안':
    print(int(user[:-3])*171, '위안')

## 풀이
환율 = {'달러': 1167, '엔': 1.096, '유로': 1268, '위안': 171}

환율['엔']
user = input('입력: ')
num, currency = user.split()
print(float(num) * 환율[currency], '원')

입력:  100 dps
입력:  100 엔

109.60000000000001 원

In [34]:
# 124

number1 = float(input('number1: '))
number2 = float(input('number2: '))
number3 = float(input('number3: '))

if number1 > (number2 and number3):
    print(number1)
elif number2 > (number1 and number3):
    print(number2)
elif number3 > (number1 and number2):
    print(number3)

number1:  1
number2:  2
number3:  3

3.0

In [41]:
# 125

phone = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}
user = input('휴대전화 번호 입력: ')
head_number, middle, last = user.split('-')
print(f'당신은 {phone[head_number]} 사용자입니다.')

# 풀이
number = input('휴대전화 번호 입력: ')
num = number.split('-')[0]
if num == '011':
    com = 'SKT'
elif num == '016':
    com = 'KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수없음'
print(f'당신은 {com} 사용자입니다.')

# 내가 수정한 풀이
phone = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}
user = input('휴대전화 번호 입력: ')
head_number = user.split('-')[0]
print(f'당신은 {phone[head_number]} 사용자입니다.')

휴대전화 번호 입력:  010-7777-7777

당신은 알수없음 사용자입니다.

휴대전화 번호 입력:  016-7-7

당신은 KT 사용자입니다.

휴대전화 번호 입력:  019-7-7

당신은 LGU 사용자입니다.

In [44]:
# 126

user = input('우편번호: ')

if 0 <= int(user[2]) <= 2:
    print('강북구')
elif 3 <= int(user[2]) <= 5:
    print('도봉구')
elif 6 <= int(user[2]) <= 9:
    print('노원구')

# 풀이
우편번호 = input('우편번호: ')
우편번호 = 우편번호[:3]
if 우편번호 in ['010', '011', '012']:
    print('강북구')
elif 우편번호 in ['014', '015', '016']:
    print('도봉구')
else:
    print('노원구')

우편번호:  014

도봉구

우편번호:  012

강북구

In [3]:
# 127

user_num = input('주민등록번호: ')
sex = user_num.split('-')[1][0]
if sex == ('1' or '3'):
    print('남자')
else:
    print('여자')

주민등록번호:  001001-4567891

여자

In [6]:
# 128

user_num = input('주민등록번호: ')
region = user_num.split('-')[1][1:3]
if '00' <= region <= '08':
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호:  123456-0081234

서울입니다.

In [16]:
# 129

user_num = input('주민등록번호: ')
f = user_num.split('-')[0]
l = user_num.split('-')[1]
result1 = (int(f[0]) * 2) + (int(f[1]) * 3) + (int(f[2]) * 4) + (int(f[3]) * 5) + (int(f[4]) * 6) + (int(f[5]) * 7) + (int(l[0]) * 8) + (int(l[1]) * 9) + (int(l[2]) * 2) + (int(l[3]) * 3) + (int(l[4]) * 4) + (int(l[5]) * 5)
result2 = 11 - (result1 % 11)
if result2 == l[6]:
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

# 동영상 풀이
data = input('주민등록번호: ')
data = data.replace('-', '')
계산1 = int(data[0]) * 2 + \
        int(data[1]) * 3 + \
        int(data[2]) * 4 + \
        int(data[3]) * 5 + \
        int(data[4]) * 6 + \
        int(data[5]) * 7 + \
        int(data[6]) * 8 + \
        int(data[7]) * 9 + \
        int(data[8]) * 2 + \
        int(data[9]) * 3 + \
        int(data[10]) * 4 + \
        int(data[11]) * 5
계산1 = 계산1 % 11
계산2 = 11 - 계산1
if data[-1] == 계산2:
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')
# 괄호가 없는 경우 식 안에서 줄바꿈하려면 역슬래시를 추가해야 한다.

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

In [21]:
# 130

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
fluc_range = float(btc['max_price']) - float(btc['min_price'])
if float(btc['opening_price']) + fluc_range > float(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

## `for`문

- 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복되는 특징이 있다.
- `for`문을 작성할 때는,
    1. 변하는 값을 변수에 바인딩한다.
    2. 변하는 부분을 `for`문의 자료구조 자리에 위치시킨다.
    3. 변하지 않는 코드는 들여쓰기 후에 작성한다.
- `enumerate(iterable, star='')`를 이용하는 방법
  - 내장함수의 하나로, `idx`와 `value`를 함께 활용할 수 있다.
  - `enumerate()` 사용 시 첫 번째 자리에 `idx`, 두 번째 자리에 임시변수 자리에서 순회하는 `요소`를 출력한다.
  - `star=''`를 사용하여 시작 `idx`를 지정할 수도 있다.



#### 참고 내용
- print() 함수는 입력한 값을 한칸의 공백과 함께 이어붙여 출력한다.
- 변수에 바인딩한 자료값이 괄호 안에 있지 않을 때, 여러 줄로 입력할 경우 역슬리시`\` 추가 필수

In [1]:
# 131

fruits = ['apple', 'orange', 'watermelon']
for fruit in fruits:
    print(fruit)

apple
orange
watermelon

In [2]:
# 132

fruits = ['apple', 'orange', 'watermelon']
for fruit in fruits:
    print('#####')

#####
#####
#####

In [5]:
# 133

for i in ['A', 'B', 'C']:
    print(i)

print()

# 변수 바인딩=>출력 과정을 자료구조 데이터 개수만큼 반복하기 때문에 하기 코드와 동일한 기능 수행
i = 'A'
print(i)
i = 'B'
print(i)
i = 'C'
print(i)

A
B
C

A
B
C

In [7]:
# 134

for i in ['A', 'B', 'C']:
    print('출력: ', i)

print()

# 상기 코드와 동일한 동작을 하는 코드
print('출력: ', 'A')
print('출력: ', 'B')
print('출력: ', 'C')

출력:  A
출력:  B
출력:  C

출력:  A
출력:  B
출력:  C

In [8]:
# 135

for i in ['A', 'B', 'C']:
    b = i.lower()
    print('변환: ', b)

print()

# 상기 코드와 동일한 동작을 하는 코드
print('변환: ', 'A'.lower())
print('변환: ', 'B'.lower())
print('변환: ', 'C'.lower())

변환:  a
변환:  b
변환:  c

변환:  a
변환:  b
변환:  c

In [12]:
# 136

i = 10
print(i)
i = 20
print(i)
i = 30
print(i)

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i)

10
20
30

10
20
30

In [ ]:
# 137

print(10)
print(20)
print(30)

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i)

In [21]:
# 138

print(10)
print('-------')
print(20)
print('-------')
print(30)
print('-------')

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i, '\n', '-------')

print()

# 풀이
for i in [10, 20, 30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------

10
 -------
20
 -------
30
 -------

10
-------
20
-------
30
-------

In [23]:
# 139

print('++++')
print(10)
print(20)
print(30)

print()

#상기 코드와 동일한 동작을 하는 코드
print('++++')
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

++++
10
20
30

In [24]:
# 140

print('-------')
print('-------')
print('-------')
print('-------')

print()

#상기 코드와 동일한 동작을 하는 코드
for i in [1, 2, 3, 4]:
    print('-------')

-------
-------
-------
-------

-------
-------
-------
-------

In [14]:
# 141

list = [100, 200, 300]
for i in list:
    i += 10
    print(i)

print()

# 풀이
list = [100, 200, 300]
for i in list:
    print(i + 10)

110
210
310

110
210
310

In [16]:
# 142

list = ['gimbap', 'ramyeon', 'fries']
for menu in list:
    print('오늘의 메뉴:', menu)

오늘의 메뉴: gimbap
오늘의 메뉴: ramyeon
오늘의 메뉴: fries

In [18]:
# 143

list = ['SK', 'SAMSUNG', 'LG']

for i in list:
    print(len(i))

2
7
2

In [20]:
# 144

list = ['dog', 'cat', 'parrot']
for animal in list:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

In [22]:
# 145

list = ['dog', 'cat', 'parrot']
for animal in list:
    print(animal[0])

d
c
p

In [24]:
# 146

list = [1, 2, 3]
for num in list:
    print('3 x', num)

print()

# 풀이
list = [1, 2, 3]
for num in list:
    print('3 x ' + str(num))

3 x 1
3 x 2
3 x 3

3 x 1
3 x 2
3 x 3

In [28]:
# 147

list = [1, 2, 3]
for num in list:
    print('3 x', num, '=', (3*num))

print()

# 풀이
list = [1, 2, 3]
for num in list:
    print('3 x {} = {}'.format(num, 3*num))
    
print()

# 내가 수정한 풀이
list = [1, 2, 3]
for num in list:
    print(f'3 x {num} = {3*num}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [32]:
# 148

list = ['가', '나', '다', '라']
for i in list:
    if i in list[1:]:
        print(i)

print()

# 풀이
list = ['가', '나', '다', '라']
for i in list[1:]:
    print(i)

나
다
라

나
다
라

In [34]:
# 149

list = ['가', '나', '다', '라']
for i in list[::2]:
    print(i)

가
다

In [35]:
# 150

list = ['가', '나', '다', '라']
for i in list[::-1]:
    print(i)

라
다
나
가

In [2]:
# 151

list = [3, -20, -3, 44]
for num in list:
    if num < 0:
        print(num)

-20
-3

In [3]:
# 152

list = [3, 100, 23, 44]
for num in list:
    if num % 3 == 0:
        print(num)

3

In [4]:
# 153

list = [13, 21, 12, 14, 30, 18]
for num in list:
    if num % 3 == 0 and num < 20:
        print(num)

12
18

In [5]:
# 154

list = ['I', 'study', 'python', 'language', '!']
for sentence in list:
    if len(sentence) >= 3:
        print(sentence)

study
python
language

In [7]:
# 155

list = ['A', 'b', 'c', 'D']
for i in list:
    if i.isupper():
        print(i)

A
D

In [8]:
# 156

list = ['A', 'b', 'c', 'D']
for i in list:
    if i.islower():
        print(i)

b
c

In [2]:
# 157

list = ['dog', 'cat', 'parrot']
for i in list:
    result = i.capitalize()
    print(result)

Dog
Cat
Parrot

In [13]:
# 158

list = ['hello.py', 'ex01.py', 'intro.hwp']
for name in list:
    file, extension = name.split('.')
    print(file)

print()
# 풀이
list = ['hello.py', 'ex01.py', 'intro.hwp']
for name in list:
    result = name.split('.')
    print(result[0])

hello
ex01
intro

hello
ex01
intro

In [24]:
# 159

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    if '.h' in name:
        print(name)

print()
# 추가 작성한 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(result[0]+'.'+result[1])

print()
# 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(name)

intra.h
define.h

intra.h
define.h

intra.h
define.h

In [32]:
# 160

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(name)
    elif result[1] == 'c':
        print(name)

print()
# 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if (result[1] == 'h') or (result[1] == 'c'):
        print(name)

intra.h
intra.c
define.h

intra.h
intra.c
define.h

In [43]:
# 161

for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [50]:
# 162

for worldcup in range(2002, 2051, 4):
    print(worldcup)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [53]:
# 163

for num in range(3, 31, 3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [60]:
# 164

for num in range(99, -1, -1):
    print(num)

print()
# 풀이
for num in range(100):
    print(99 - num)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [3]:
# 165

for num in range(10):
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [7]:
# 166

for num in range(1, 10):
    result = 3 * num
    print('3x'+str(num)+' = '+str(result))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [9]:
# 167

for num in range(1, 10, 2):
    result = 3 * num
    print('3x'+str(num)+' = '+str(result))

print()
# 풀이
num = 3
for i in range(1, 10):
    if i % 2 == 1:
        print(num, 'x', i, '=', num*i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [16]:
# 168

result = 0
for i in range(1, 11):
    result += i
    if i == 10:
        print('합:', result)

print()
# 풀이
result = 0
for i in range(1, 11):
    result += i
print('합:', result)

# print를 for문 밖으로 빼면 마지막 result 값만 받을 수 있다.

합: 55

합: 55

In [2]:
# 169

result = 0
for i in range(1, 11, 2):
    result += i
print('합:', result)

print()
# 추가로 쓴 풀이
result = 0
for i in range(1, 11):
    if i % 2 == 1:
        result += i
print('합:', result)

합: 25

합: 25

In [1]:
# 170

result = 1
for num in range(1, 11):
    result *= num
print(result)

3628800

In [5]:
# 171

price_list = [32100, 32150, 32000, 32500]
for data in price_list:
    if data in range(30000, 40000):
        print(data)

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for data in range(len(price_list)):
    print(price_list[data])

32100
32150
32000
32500

32100
32150
32000
32500

In [13]:
# 172

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

print()
# 참고 코드
price_list = [32100, 32150, 32000, 32500]
for i in enumerate(price_list):
    print(i)

0 32100
1 32150
2 32000
3 32500

0 32100
1 32150
2 32000
3 32500

(0, 32100)
(1, 32150)
(2, 32000)
(3, 32500)

In [3]:
# 173
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])
# len(price_list)는 idx와 달리 0이 아닌 1부터 카운팅되기 때문에 (len-1)을 적용한다.

3 32100
2 32150
1 32000
0 32500

In [19]:
# 174

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((100 * (i/10)), price_list[i])

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90+10*i, price_list[i])

print()
# 추가 수정한 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(round(100*(1+(i-1)/10)), price_list[i])

0.0 32100
10.0 32150
20.0 32000
30.0 32500

100 32150
110 32000
120 32500

100 32150
110 32000
120 32500

In [30]:
# 175

# int는 순회 가능하지 않다. (not iterable)
my_list = ['가', '나', '다', '라']
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

print()
# 풀이
for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

가 나
나 다
다 라

In [13]:
# 176

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [19]:
# 177

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) - 1):
    print(my_list[-(i+1)], my_list[-(i+2)])

라 다
다 나
나 가

In [21]:
# 178

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])
# 절댓값 함수 abs()를 적용할 수도 있다.

100
200
400

In [25]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [43]:
# 180

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [46]:
# 181

apart = [['101호', '102호'],
         ['201호', '202호'],
         ['301호', '302호']]

In [ ]:
# 182