In [ ]:
# 001

print('Hello World')

In [ ]:
# 002

print('Mary\'s cosmetics')

In [ ]:
# 003

print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 004

print('C:\Windows')

In [ ]:
# 005

print("안녕하세요. \n만나서\t\t반갑습니다.")

# \n는 줄바꿈, \t 탭 삽입

In [ ]:
# 006

print("오늘은", "일요일")

# 여러 값을 출력 시 쉼표로 구분하면 공백으로 값을 구분하여 출력한다.

**sep인자**

sep 인자를 활용하여 출력되는 값들 사이에 동일한 값을 삽입할 수 있다.

In [ ]:
# 007

print('naver', 'kakao', 'sk', 'samsung', sep=';')

In [ ]:
# 008

print('naver', 'kakao', 'sk', 'samsung', sep='/')

In [ ]:
# 009

print("first", end='');print("second")

In [ ]:
# 010

print(5/3)

In [ ]:
# 011

samsung = 50000
total_eval = samsung * 10
print(total_eval)

In [ ]:
# 012

market_capital = 298000000000000
current_price = 50000
PER = 15.79
print(market_capital)
print(current_price)
print(PER)

In [ ]:
# 013

s = "hello"
t = "python"

print(s, t, sep='! ')
print(s+'!', t)

In [ ]:
# 014

a = 128
print(type(a))

b = "132"
print(type(b))

In [ ]:
# 016

num_str = "720"
num_int = int(num_str)

print(num_int, type(num_int))

In [ ]:
# 017

num = 100
num_str = str(num)
print(num_str, type(num_str))

In [ ]:
# 018

result = float('15.79')
print(result, type(result))

In [ ]:
# 019

year = '2020'
result = int(year)
print(result - 3, result - 2, result - 1)

In [ ]:
# 020

ac_month = 48584
total = ac_month * 36
print(total)

In [ ]:
# 021

letters = 'python'
print(letters[0], letters[2])

### 문자열 슬라이싱

파이썬의 인덱스는 앞에서부터 0, 뒤에서부터 -1의 값을 갖는다.
시작 인덱스를 생략하면 0으로 간주하고, 마지막 인덱스를 생략하면 문자열의 끝을 의미한다.

In [ ]:
# 022

license_plate = '24가 2210'
print(license_plate[-4:])

In [ ]:
# 023

string = '홀짝홀짝홀짝'
print(string[::2])

In [ ]:
# 024

string = 'PYTHON'
print(string[::-1])

In [ ]:
# 025

phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

# string은 immutable 자료형이므로 기존 문자열은 그대로 두고 새로운 문자열이 리턴된다.

In [ ]:
# 026

print(phone_number.replace('-', ''))

In [ ]:
# 027

url = 'http://sharebook.kr'
print(url[-2:])

# 풀이 오답
# 주어진 문자열에서 '.'을 기준으로 분리하면 어떤 url을 넣더라도 도메인만 출력할 수 있다.
print(url.split('.')[-1])

## 데이터의 분류
> cf. 01_data_container

1. 변경 불가능한(`immutable`) 데이터
    - Reference(참조) 할 뿐, 값이 복사되지고 메모리 주소만 복사 전달된다.다.
    - 원본 값하지 않고 새로운 객체를 생성한다변한다.
    - 종류
      - literal
        - 숫자 (integer/float)
        - 글자 (string)
        - 참/거짓 (bool)
      - range()
      - tuple()
      - frozenset()
2. 변경 가능한(`mutable`) 데이터
    - Value 타입으로, 값이 실제로 넘어가기 때문에 형태로  - 데??**
    -  원본 이 변한다.
       종류
        -  lis
        -   dict
       -  set  -  d     -  set

---

In [ ]:
# 028

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없는 immutable 변수이다.

In [ ]:
# 029

string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

In [ ]:
# 030

string = 'abcd'
string.replace('b', 'B')
print(string)

In [ ]:
# 031

a = '3'
b = '4'
print(a + b)

In [ ]:
# 032

print('Hi' * 3)

In [ ]:
# 033

print('-' * 80)

In [ ]:
# 034

t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

In [ ]:
# 035

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

# 풀이 답안: % formatting
# '%s': 문자열 데이터 타입의 값의 출력
# '%d': 정수형 데이터 타입 값의 출력
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

In [ ]:
# 036

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# format() 메서드
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

In [ ]:
# 037

# f-string => python 3.6ver 부터 지원
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

In [ ]:
# 038

stock_num = '5,969,782,550'
result = int(stock_num.replace(',', ''))
print(result, type(result))

In [ ]:
# 039

q = '2020/03(E) (IFRS연결)'
print(q[:7])

In [ ]:
# 040

data = "   삼성전자    "

print(data.rstrip().lstrip())

In [ ]:
# 041

ticker = 'btc_krw'
print(ticker.upper())

In [ ]:
# 042

ticker = 'BTC_KRW'
print(ticker.lower())

### 대소문자 변환

`.capitalize()`: 앞 글자를 대문자로 만들어 반환한다. \
`.tile()`: 어퍼스트로피(')나 공백 이후를 대문자로 만들어 반환한다. \
`.upper()`: 모두 대문자로 만들어 반환 \
`.lower()`: 모두 소문자로 만들어 반환 \
`.swapcase()`: 대소문자를 변경하여 반환

In [ ]:
# 043

result = 'hello'
print(result.capitalize())

### startswith 메서드

startswith 메서드를 활용하여 파일 이름이 특정 문자열로 시작하는지 확인할 수 있다.

### endswith 메서드

endswith 메서드를 활용하여 파일 이름이 특정 문자열로 끝나는게 맞는지 확인할 수 있다. \
여러 개의 특정 문자열 중 하나인지 확인할 경우에는 tuple을 사용한다.

In [ ]:
# 044

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

In [ ]:
# 045

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx' or 'xls'))
print(file_name.endswith(('xlsx', 'xls')))

In [ ]:
# 046

file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

In [ ]:
# 047

a = 'hello world'
print(a.split())

In [ ]:
# 048

ticker = 'btc_krw'
print(ticker.split('_'))

In [ ]:
# 049

date = "2020-05-01"
print(date.split('-'))

In [ ]:
# 050

data = "039490     "
print(data.rstrip())

In [ ]:
# 051

movie_rank = ['doctor strange', 'split', 'lucky']
print(movie_rank)

In [ ]:
# 052

movie_rank.append('batman')
print(movie_rank)

In [ ]:
# 053

movie_rank.insert(1, 'super man')
print(movie_rank)

In [ ]:
# 054

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
movie_rank.remove('lucky')
print(movie_rank)

# remove는 하나의 값만 받는다.

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
del movie_rank[3]
print(movie_rank)

In [ ]:
# 055

del movie_rank[2:]
print(movie_rank)

In [ ]:
# 056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

In [ ]:
# 057

nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max:  {max(nums)}\nmin:  {min(nums)}')
print()
print('max:  ', max(nums))
print('min:  ', min(nums))

In [ ]:
# 058

nums = [1, 2, 3, 4, 5]
sum(nums)

In [ ]:
# 059

cook = ['pizza', 'kimbap', 'dumpling', 'chicken', 'pork feet', 'kimchi dumpling', 'jjolmyeon', 'sausage', 'ramen', 'shaved ice', 'kimchi pancake']
len(cook)

In [ ]:
# 060

nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

In [ ]:
# 061

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 062

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 063

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 064

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 065

interest = ['samsung', 'lg', 'naver']
print(interest[::2])
print(interest[0], interest[2])

In [ ]:
# 066

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print(' '.join(interest))

In [ ]:
# 067

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print('/'.join(interest))

In [ ]:
# 068

interest = ['samsung', 'lg', 'naver', 'sk', 'mirae']
print('\n'.join(interest))

In [ ]:
# 069

string = 'samsung/lg/naver'
interest = string.split('/')
print(interest)

In [ ]:
# 070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
# 071

my_variable = ()
print(type(my_variable))

In [ ]:
# 072

movie_rank = ('doctor strange', 'split', 'lucky')
print(movie_rank)

In [ ]:
# 073

number = (1, )
print(type(number))

In [ ]:
# 074

# 입력 코드
>> t = (1, 2, 3)
>> t[0] = 'a'

# 오류: tuple은 immutable 데이터이기에 변경 불가능하다.
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
# 075

t = 1, 2, 3, 4
type(t)  #tuple
#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작한다.

In [ ]:
# 076

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [ ]:
# 077

interest = ('samsung', 'lg', 'sk')
print(list(interest))

In [ ]:
# 078

interest = ['samsung', 'lg', 'sk']
print(tuple(interest))

In [ ]:
# 079

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# tuple unpacking

In [ ]:
# 080

data = tuple(range(2, 100, 2))
print(data)

### 별 표현식 (star expression)

- 좌변과 우변의 변수 개수가 달라도 데이터 언패킹 가능하다.
- 별 표현식을 활용하여, 필요한 요소 값만 패킹하고 나머지 값은 언패킹을 유지할 수 있다.
- 이 때 여러 값을 바인딩한 변수는 리스트로 출력된다. (?)

<참고>
- 변수의 역할이 필요하긴 하나, 나중에 사용하지 않을 경우 언더 스코어(`_`)를  사용한다.

In [ ]:
# 081

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

In [ ]:
# 082

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

In [ ]:
# 083

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

In [ ]:
# 084

temp = { }
print(temp)

In [ ]:
# 085

ice_cream = {'merona': 1000, 'polapo': 1200, 'bbangparae':1800}
print(ice_cream)

In [ ]:
# 086

ice_cream.update({'jawsbar': 1200, 'worldcon': 1500})
print(ice_cream)

### 딕셔너리에서 key 값 가져오는 방법

1. `.get()` 메서드 사용하기
2. `[]` 사용하기

In [ ]:
# 087

print('메로나 가격:', ice_cream['merona'])
print('메로나 가격:', ice_cream.get('merona'))

In [ ]:
# 088

ice_cream['merona'] = 1300
print(ice_cream)

### 딕셔너리에서 key 값 삭제하는 방법

1. `del` 사용하기

In [ ]:
# 089

del ice_cream['merona']
print(ice_cream)

In [ ]:
# 090

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# '누가바'라는 key 값이 없기 때문에 keyerror 발생

In [ ]:
# 091

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory)

In [ ]:
# 092

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory['merona'][0], '원')

In [ ]:
# 093

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
print(inventory['merona'][1], '개')

In [ ]:
# 094

inventory = {'merona': [300, 20], 'bibibic': [400, 3], 'jawsbar': [250, 100]}
inventory.update({'worldcon': [500, 7]})
print(inventory)

### 딕셔너리 메서드

- `.keys()`: 딕셔너리로부터 key 값만 출력
- `.values()`: 딕셔너리로부터 value 값만 출력
- `.update()`: 딕셔너리에 새로운 key, value 값을 추가
   - mutable하기 때문에 원본에 값이 추가 및 삭제된다.

In [ ]:
# 095

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
ice = list(icecream.keys())
print(ice)

In [ ]:
# 096

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
print(list(icecream.values()))

In [ ]:
# 097

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
print(sum(icecream.values()))

In [ ]:
# 098

icecream = {'tankboy': 1200, 'polapo': 1200, 'bbangparae': 1800, 'worldcon': 1500, 'merona': 1000}
new_product = {'ppatbingsu': 2700, 'amatna': 1000}
icecream.update(new_product)
print(icecream)

### 딕셔너리 활용법

- `zip`: 두 개의 튜플을 하나의 딕셔너리로 변환한다.
  - 예시: `dict(zip(keys, vals))`
- 딕셔너리의 key 값을 중괄호 안에 넣으면 대응하는 value 값을 출력한다.
  - 예시: 환율 = {"달러": 1167,  "엔": 1.096,  "유로": 1268   "위안": 1
    
          환율['달러'] = 1167
          환율['엔'] = 1.09671}

In [ ]:
# 099

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

In [ ]:
# 100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [ ]:
# 101

# 파이썬에서 True 혹은 False를 갖는 데이터 타입
bool

In [ ]:
# 102

print(3 == 5)  # False

In [ ]:
# 103

print(3 < 5) # True

In [ ]:
# 104

x = 4
print(1 < x < 5) # True

In [ ]:
# 105

print((3 == 3) and (4 != 3)) # True and True => True

In [ ]:
# 106

print(3 => 4) # =>가 아닌 >=가 적절하다.

In [ ]:
# 107

if 4 < 3:
    print("Hello World")
# 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않는다.

In [ ]:
# 108

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# Hi, there.

In [ ]:
# 109

if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

# 1
# 2
# 4

In [ ]:
# 110

if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")
# 3
# 5

In [ ]:
# 111

user_input = input('문자를 입력하시오.: ')
print(user_input * 2)

In [ ]:
# 112

user_input = int(input('숫자를 입력하시오.: '))
print(user_input + 10)

In [ ]:
# 113

user_input = int(input('숫자를 입력하시오.: '))
if user_input % 2 == 1:
    print('홀수')
else:
    print('짝수')

In [ ]:
# 114

user_input = int(input('입력값: '))
result = user_input + 20
if result > 255:
    print('255')
else:
    print(result)

In [ ]:
# 115

user_input = int(input('입력값: '))
result = user_input - 200
if 0 > result:
    print(0)
elif result > 255:
    print(255)
else:
    print(result)

In [ ]:
# 116

user = input('현재시간: ')
if user[-2:] == '00':
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

In [ ]:
# 117

fruit = ['사과', '포도', '홍시']
answer = input('좋아하는 과일은?: ')
if answer in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
# 118

warn_investment_list = ['Microsoft', 'Google', 'Naver', 'Kakao', 'SAMSUNG', 'LG']
answer = input('종목명: ')
if answer in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

In [ ]:
# 119

fruit = {'spring':'strawberry', 'summer':'tomato', 'autumn':'apple'}
answer = input('제가 좋아하는 계절은: ')
if answer in fruit.keys():
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
# 120

fruit = {'spring':'strawberry', 'summer':'tomato', 'autumn':'apple'}
answer = input('좋아하는 과일은?: ')
if answer in fruit.values():
    print('정답입니다.')
else:
    print('오답입니다.')

In [ ]:
# 121

user = input('문자 한 글자를 입력해 주세요.: ')
if user.islower() is True:
    print(user.upper())
else:
    print(user.lower())

# is True는 생략 가능하다.

In [ ]:
# 122

score = int(input('score: '))
if score <= 20:
    print('E')
elif score <= 40:
    print('D')
elif score <= 60:
    print('C')
elif score <= 80:
    print('B')
elif score <= 100:
    print('A')

In [ ]:
# 123
# 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다. (달러, 엔, 유로, 위안)

user = input('입력: ')
if user[-2:] == '달러':
    print(int(user[:-3])*1167, '달러')
elif user[-1] == '엔':
    print(float(user[:-2])*1.096, '엔')
elif user[-2:] == '유로':
    print(int(user[:-3])*1268, '유로')
elif user[-2:] == '위안':
    print(int(user[:-3])*171, '위안')

## 풀이
환율 = {'달러': 1167, '엔': 1.096, '유로': 1268, '위안': 171}

환율['엔']
user = input('입력: ')
num, currency = user.split()
print(float(num) * 환율[currency], '원')

In [ ]:
# 124

number1 = float(input('number1: '))
number2 = float(input('number2: '))
number3 = float(input('number3: '))

if number1 > (number2 and number3):
    print(number1)
elif number2 > (number1 and number3):
    print(number2)
elif number3 > (number1 and number2):
    print(number3)

In [ ]:
# 125

phone = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}
user = input('휴대전화 번호 입력: ')
head_number, middle, last = user.split('-')
print(f'당신은 {phone[head_number]} 사용자입니다.')

# 풀이
number = input('휴대전화 번호 입력: ')
num = number.split('-')[0]
if num == '011':
    com = 'SKT'
elif num == '016':
    com = 'KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수없음'
print(f'당신은 {com} 사용자입니다.')

# 내가 수정한 풀이
phone = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}
user = input('휴대전화 번호 입력: ')
head_number = user.split('-')[0]
print(f'당신은 {phone[head_number]} 사용자입니다.')

In [ ]:
# 126

user = input('우편번호: ')

if 0 <= int(user[2]) <= 2:
    print('강북구')
elif 3 <= int(user[2]) <= 5:
    print('도봉구')
elif 6 <= int(user[2]) <= 9:
    print('노원구')

# 풀이
우편번호 = input('우편번호: ')
우편번호 = 우편번호[:3]
if 우편번호 in ['010', '011', '012']:
    print('강북구')
elif 우편번호 in ['014', '015', '016']:
    print('도봉구')
else:
    print('노원구')

In [ ]:
# 127

user_num = input('주민등록번호: ')
sex = user_num.split('-')[1][0]
if sex == ('1' or '3'):
    print('남자')
else:
    print('여자')

In [ ]:
# 128

user_num = input('주민등록번호: ')
region = user_num.split('-')[1][1:3]
if '00' <= region <= '08':
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

In [ ]:
# 129

user_num = input('주민등록번호: ')
f = user_num.split('-')[0]
l = user_num.split('-')[1]
result1 = (int(f[0]) * 2) + (int(f[1]) * 3) + (int(f[2]) * 4) + (int(f[3]) * 5) + (int(f[4]) * 6) + (int(f[5]) * 7) + (int(l[0]) * 8) + (int(l[1]) * 9) + (int(l[2]) * 2) + (int(l[3]) * 3) + (int(l[4]) * 4) + (int(l[5]) * 5)
result2 = 11 - (result1 % 11)
if result2 == l[6]:
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

# 동영상 풀이
data = input('주민등록번호: ')
data = data.replace('-', '')
계산1 = int(data[0]) * 2 + \
        int(data[1]) * 3 + \
        int(data[2]) * 4 + \
        int(data[3]) * 5 + \
        int(data[4]) * 6 + \
        int(data[5]) * 7 + \
        int(data[6]) * 8 + \
        int(data[7]) * 9 + \
        int(data[8]) * 2 + \
        int(data[9]) * 3 + \
        int(data[10]) * 4 + \
        int(data[11]) * 5
계산1 = 계산1 % 11
계산2 = 11 - 계산1
if data[-1] == 계산2:
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')
# 괄호가 없는 경우 식 안에서 줄바꿈하려면 역슬래시를 추가해야 한다.

In [ ]:
# 130

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
fluc_range = float(btc['max_price']) - float(btc['min_price'])
if float(btc['opening_price']) + fluc_range > float(btc['max_price']):
    print('상승장')
else:
    print('하락장')

## `for`문

- 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복되는 특징이 있다.
- `for`문을 작성할 때는,
    1. 변하는 값을 변수에 바인딩한다.
    2. 변하는 부분을 `for`문의 자료구조 자리에 위치시킨다.
    3. 변하지 않는 코드는 들여쓰기 후에 작성한다.
- `enumerate(iterable, star='')`를 이용하는 방법
  - 내장함수의 하나로, `idx`와 `value`를 함께 활용할 수 있다.
  - `enumerate()` 사용 시 첫 번째 자리에 `idx`, 두 번째 자리에 임시변수 자리에서 순회하는 `요소`를 출력한다.
  - `star=''`를 사용하여 시작 `idx`를 지정할 수도 있다.



#### 참고 내용
- print() 함수는 입력한 값을 한칸의 공백과 함께 이어붙여 출력한다.
- 변수에 바인딩한 자료값이 괄호 안에 있지 않을 때, 여러 줄로 입력할 경우 역슬리시`\` 추가 필수

In [ ]:
# 131

fruits = ['apple', 'orange', 'watermelon']
for fruit in fruits:
    print(fruit)

In [ ]:
# 132

fruits = ['apple', 'orange', 'watermelon']
for fruit in fruits:
    print('#####')

In [ ]:
# 133

for i in ['A', 'B', 'C']:
    print(i)

print()

# 변수 바인딩=>출력 과정을 자료구조 데이터 개수만큼 반복하기 때문에 하기 코드와 동일한 기능 수행
i = 'A'
print(i)
i = 'B'
print(i)
i = 'C'
print(i)

In [ ]:
# 134

for i in ['A', 'B', 'C']:
    print('출력: ', i)

print()

# 상기 코드와 동일한 동작을 하는 코드
print('출력: ', 'A')
print('출력: ', 'B')
print('출력: ', 'C')

In [ ]:
# 135

for i in ['A', 'B', 'C']:
    b = i.lower()
    print('변환: ', b)

print()

# 상기 코드와 동일한 동작을 하는 코드
print('변환: ', 'A'.lower())
print('변환: ', 'B'.lower())
print('변환: ', 'C'.lower())

In [ ]:
# 136

i = 10
print(i)
i = 20
print(i)
i = 30
print(i)

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i)

In [ ]:
# 137

print(10)
print(20)
print(30)

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i)

In [ ]:
# 138

print(10)
print('-------')
print(20)
print('-------')
print(30)
print('-------')

print()

# 상기 코드와 동일한 동작을 하는 코드
for i in [10, 20, 30]:
    print(i, '\n', '-------')

print()

# 풀이
for i in [10, 20, 30]:
    print(i)
    print('-------')

In [ ]:
# 139

print('++++')
print(10)
print(20)
print(30)

print()

#상기 코드와 동일한 동작을 하는 코드
print('++++')
for i in [10, 20, 30]:
    print(i)

In [ ]:
# 140

print('-------')
print('-------')
print('-------')
print('-------')

print()

#상기 코드와 동일한 동작을 하는 코드
for i in [1, 2, 3, 4]:
    print('-------')

In [ ]:
# 141

list = [100, 200, 300]
for i in list:
    i += 10
    print(i)

print()

# 풀이
list = [100, 200, 300]
for i in list:
    print(i + 10)

In [ ]:
# 142

list = ['gimbap', 'ramyeon', 'fries']
for menu in list:
    print('오늘의 메뉴:', menu)

In [ ]:
# 143

list = ['SK', 'SAMSUNG', 'LG']

for i in list:
    print(len(i))

In [ ]:
# 144

list = ['dog', 'cat', 'parrot']
for animal in list:
    print(animal, len(animal))

In [ ]:
# 145

list = ['dog', 'cat', 'parrot']
for animal in list:
    print(animal[0])

In [ ]:
# 146

list = [1, 2, 3]
for num in list:
    print('3 x', num)

print()

# 풀이
list = [1, 2, 3]
for num in list:
    print('3 x ' + str(num))

In [ ]:
# 147

list = [1, 2, 3]
for num in list:
    print('3 x', num, '=', (3*num))

print()

# 풀이
list = [1, 2, 3]
for num in list:
    print('3 x {} = {}'.format(num, 3*num))
    
print()

# 내가 수정한 풀이
list = [1, 2, 3]
for num in list:
    print(f'3 x {num} = {3*num}')

In [ ]:
# 148

list = ['가', '나', '다', '라']
for i in list:
    if i in list[1:]:
        print(i)

print()

# 풀이
list = ['가', '나', '다', '라']
for i in list[1:]:
    print(i)

In [ ]:
# 149

list = ['가', '나', '다', '라']
for i in list[::2]:
    print(i)

In [ ]:
# 150

list = ['가', '나', '다', '라']
for i in list[::-1]:
    print(i)

In [ ]:
# 151

list = [3, -20, -3, 44]
for num in list:
    if num < 0:
        print(num)

In [ ]:
# 152

list = [3, 100, 23, 44]
for num in list:
    if num % 3 == 0:
        print(num)

In [ ]:
# 153

list = [13, 21, 12, 14, 30, 18]
for num in list:
    if num % 3 == 0 and num < 20:
        print(num)

In [ ]:
# 154

list = ['I', 'study', 'python', 'language', '!']
for sentence in list:
    if len(sentence) >= 3:
        print(sentence)

In [ ]:
# 155

list = ['A', 'b', 'c', 'D']
for i in list:
    if i.isupper():
        print(i)

In [ ]:
# 156

list = ['A', 'b', 'c', 'D']
for i in list:
    if i.islower():
        print(i)

In [ ]:
# 157

list = ['dog', 'cat', 'parrot']
for i in list:
    result = i.capitalize()
    print(result)

In [ ]:
# 158

list = ['hello.py', 'ex01.py', 'intro.hwp']
for name in list:
    file, extension = name.split('.')
    print(file)

print()
# 풀이
list = ['hello.py', 'ex01.py', 'intro.hwp']
for name in list:
    result = name.split('.')
    print(result[0])

In [ ]:
# 159

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    if '.h' in name:
        print(name)

print()
# 추가 작성한 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(result[0]+'.'+result[1])

print()
# 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(name)

In [ ]:
# 160

list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if result[1] == 'h':
        print(name)
    elif result[1] == 'c':
        print(name)

print()
# 풀이
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for name in list:
    result = name.split('.')
    if (result[1] == 'h') or (result[1] == 'c'):
        print(name)

In [ ]:
# 161

for i in range(0, 100):
    print(i)

In [ ]:
# 162

for worldcup in range(2002, 2051, 4):
    print(worldcup)

In [ ]:
# 163

for num in range(3, 31, 3):
    print(num)

In [ ]:
# 164

for num in range(99, -1, -1):
    print(num)

print()
# 풀이
for num in range(100):
    print(99 - num)

In [ ]:
# 165

for num in range(10):
    print(num / 10)

In [ ]:
# 166

for num in range(1, 10):
    result = 3 * num
    print('3x'+str(num)+' = '+str(result))

In [ ]:
# 167

for num in range(1, 10, 2):
    result = 3 * num
    print('3x'+str(num)+' = '+str(result))

print()
# 풀이
num = 3
for i in range(1, 10):
    if i % 2 == 1:
        print(num, 'x', i, '=', num*i)

In [ ]:
# 168

result = 0
for i in range(1, 11):
    result += i
    if i == 10:
        print('합:', result)

print()
# 풀이
result = 0
for i in range(1, 11):
    result += i
print('합:', result)

# print를 for문 밖으로 빼면 마지막 result 값만 받을 수 있다.

In [ ]:
# 169

result = 0
for i in range(1, 11, 2):
    result += i
print('합:', result)

print()
# 추가로 쓴 풀이
result = 0
for i in range(1, 11):
    if i % 2 == 1:
        result += i
print('합:', result)

In [ ]:
# 170

result = 1
for num in range(1, 11):
    result *= num
print(result)

In [ ]:
# 171

price_list = [32100, 32150, 32000, 32500]
for data in price_list:
    if data in range(30000, 40000):
        print(data)

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for data in range(len(price_list)):
    print(price_list[data])

In [ ]:
# 172

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

print()
# 참고 코드
price_list = [32100, 32150, 32000, 32500]
for i in enumerate(price_list):
    print(i)

In [ ]:
# 173
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])
# len(price_list)는 idx와 달리 0이 아닌 1부터 카운팅되기 때문에 (len-1)을 적용한다.

In [ ]:
# 174

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((100 * (i/10)), price_list[i])

print()
# 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90+10*i, price_list[i])

print()
# 추가 수정한 풀이
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(round(100*(1+(i-1)/10)), price_list[i])

In [ ]:
# 175

# int는 순회 가능하지 않다. (not iterable)
my_list = ['가', '나', '다', '라']
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

print()
# 풀이
for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

In [ ]:
# 176

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])

In [ ]:
# 177

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) - 1):
    print(my_list[-(i+1)], my_list[-(i+2)])

In [ ]:
# 178

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])
# 절댓값 함수 abs()를 적용할 수도 있다.

In [ ]:
# 179

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

In [ ]:
# 180

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

In [ ]:
# 181

apart = [['101호', '102호'],
         ['201호', '202호'],
         ['301호', '302호']]

In [ ]:
# 182

stock = [['시가', 100, 200, 300],
         ['종가', 80, 210, 330]]

In [ ]:
# 183

stock = {'시가': [100, 200, 300],
         '종가': [80, 210, 330]}

In [ ]:
# 184

stock = {'10/10': [80, 110, 70, 90],
         '10/11': [210, 230, 190, 200]}

In [ ]:
# 185

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(apart[i][0], '호')
    print(apart[i][1], '호')

print()
# 풀이
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')

In [ ]:
# 186

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, '호')

In [ ]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

In [ ]:
# 188

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        print('-----')

print()
# 풀이
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
        print('-' * 5)

In [ ]:
# 189

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
    print('-----')

In [ ]:
# 190

apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, '호')
print('-----')

In [ ]:
# 191

data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col + (col *0.00014))

print()
# 풀이
for row in data:
    for col in row:
        print(col * 1.00014)

In [ ]:
# 192

data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * 1.00014)
    print('-----')

In [ ]:
# 193

data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    for col in row:
        result.append(col * 1.00014)
print(result)

In [ ]:
# 194

data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]
]

# list1 = []
# list2 = []
# list3 = []
# result = []
# for row in data:
#     for col in row:
#         list1.append(col * 1.00014)
#         if list1[3] == 1980:
#             list2.append(col * 1.00014)
#             if list2[3] == 1980:
#                 list3.append(col * 1.00014)
#     print(result.append(list1, list2, list3))

print()
#풀이
data = [[ 2000,  3050,  2050,  1980],
        [ 7500,  2050,  2050,  1980],
        [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    sub = []
    for col in row:
        sub.append(col * 1.00014)
    result.append(sub)
print(result)

In [ ]:
# 195

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# ohlc[1][3], ohlc[2][3], ohlc[3][3]

for row in ohlc[1:]:
    print(row[3])

In [ ]:
# 196

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

In [ ]:
# 197

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] >= row[0]:
        print(row[3])

In [ ]:
# 198

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for row in ohlc[1:]:
    result = row[1] - row[2]
    volatility.append(result)
print(volatility)

print()
# 풀이
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1] - ohlc[i][2])
print(volatility)

In [ ]:
# 199

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        volatility = row[1] - row[2]
        print(volatility)

In [ ]:
# 200

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

rev = 0
for row in ohlc[1:]:
    rev += row[3] - row[0]
print(rev)

In [ ]:
# 201

print_coin = "비트코인"
print(print_coin)

#풀이 ("정의하라" ~> def 사용)
def print_coin():
    print("비트코인")

In [ ]:
# 202

print_coin()
# 정의(def)된 함수를 호출할 때는 괄호를 붙여준다.

In [ ]:
# 203

type(print_coin())
# print_coin() * 100 => error
print()
# 풀이
for i in range(100):
    print_coin()

In [ ]:
# 204

def print_coins():
    print(print_coin() * 100)

print()
# 풀이
def print_coins():
    for i in range(100):
        print("비트코인")

In [ ]:
# 205

hello()
def hello():
    print('Hi')
# error 이유 = hello() 함수가 정의되지 않은 상태에서 미리 호출했기 때문
# error message = name 'hello' is not defined

In [ ]:
# 206

def message():
    print('A')
    print('B')

message()
print('C')
message()
# 실행결과 예측
# A
# B
# C
# A
# B

In [ ]:
# 207

print('A')

def message():
    print('B')

print('C')
message()
# 실행결과 예측
# A
# C
# B

In [ ]:
# 208

print('A')
def message1():
    print('B')
print('C')
def message2():
    print('D')
message1()
print('E')
message2()

# 실행결과 예측
# A
# C
# B
# E
# D

In [ ]:
# 209

def message1():
    print('A')

def message2():
    print('B')
    message1()

message2()

# 실행결과 예측
# B
# A

In [ ]:
# 210

def message1():
    print('A')

def message2():
    print('B')

def message3():
    for i in range(3):
        message2()
        print('C')
    message1()

message3()

# 실행결과 예측
# B
# C
# B
# C
# B
# C
# A

In [ ]:
# 211

def 함수(인사) :
    print(인사)

함수("안녕")
함수("Hi")

In [ ]:
# 212

def 함수(a, b):
    print(a + b)

함수(3, 4)
함수(7, 8)

# 호출결과 예측
# 7
# 15

In [ ]:
# 213

def 함수(문자열):
    print(문자열)

함수()
# error 이유 = 인자 1개를 가져야 하는데 비어있기 때문
# error 이유 (풀이) = 함수 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터(매개변수)를 입력해야 한다.
# error message = 함수() missing 1 required positional argument: '문자열'

In [ ]:
# 214

def 함수(a, b):
    print(a + b)

함수('안녕', 3)

# error 이유 = 연산이 불가능한 문자(str)와 숫자(int) 조합이기 때문
# error 이유 (풀이) = 정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용 목적
# error message = can only concatenate str (not 'int') to str

In [ ]:
# 215

def print_with_smile(문자열):
    print(문자열 + ':D')

print_with_smile('문자열')

print()
# 풀이
def print_with_smile(string):
    print(string + ':D')

In [ ]:
# 216

print_with_smile('안녕하세요')

In [ ]:
# 217

def print_upper_price(int):
    print(int * 1.3)

In [ ]:
# 218

def print_sum(a, b):
    print(a + b)

In [ ]:
# 219

def print_arithmetic_operation(a, b):
    print(a+b, a-b, a*b, a/b)
print_arithmetic_operation(3, 4)

print()
# 풀이
def print_arithmetic_operation(a, b):
    print(a, '+', b, '=', a+b)
    print(a, '-', b, '=', a-b)
    print(a, '*', b, '=', a*b)
    print(a, '/', b, '=', a/b)
print_arithmetic_operation(3, 4)

In [ ]:
# 220

def print_max(a, b, c):
    if a >= (b and c):
        print(a)
    elif b >= (a and c):
        print(b)
    elif c >= (a and b):
        print(c)
print_max(9, 4, 123)

print()
# 풀이
def print_max2(a, b, c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    print(max_val)
print_max2(5, 8, 1)

In [ ]:
# 221

def print_reverse(문자열):
    answer = ''
    for char in 문자열:
        answer += 문자열[::-1]
    print(answer)
print_reverse('python')

print()
# 풀이
def print_reverse2(string):
    print(string[::-1])
print_reverse2('python')

In [ ]:
# 222

# def print_score([a, b, c]):
#     print((a+b+c) / 3)
# print_score([47, 89, 91])

# 풀이
def print_score(score_list):
    print(sum(score_list)/len(score_list))
score_list = [79, 98, 65]
print_score(score_list)

In [ ]:
# 223

def print_even(list):
    for num in list:
        if num % 2 == 0:
            print(num)
print_even ([1, 3, 2, 10, 12, 11, 15])

In [ ]:
# 224

def print_keys(my_dict):
    print(my_dict.keys())
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

print()
# 풀이
def print_keys2(dic):
    for keys in dic.keys():
        print(keys)
print_keys2({"이름":"김말똥", "나이":30, "성별":0})

In [ ]:
# 225

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, date):
    if date in my_dict.keys():
        print(my_dict[date])
print_value_by_key(my_dict, "10/26")

print()
# 풀이
def print_value_by_key2(my_dict, date):
    print(my_dict[date])
print_value_by_key2(my_dict, "10/26")

In [ ]:
# 226

def print_5xn(string):
    if len(string) >= 5:
        print(string[:5])
        print(string[5:])
    else:
        print(string)
print_5xn('아이엠어보이유알어걸')

print()
# 풀이
def print_5xn2(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])
print_5xn2("아이엠어보이유알어걸")

In [ ]:
# 227

def printmxn(문자열, a):
    num = int(len(문자열) / a)
    for i in range(num + 1):
        print(문자열[(i*a):(i*a+a)])
printmxn('아이엠어보이유알어걸', 3)
# 문자열의 길이와 a를 나누면 경우에 따라 float가 될 수 있기 때문에 꼭 int로 변환 필요.
# int와 float는 통합 계산이 불가능하다.

In [ ]:
# 228

def calc_monthly_salary(annual_salary):
    print(round(annual_salary / 12))

print()
# 풀이
# 1원 미만을 절사하려면 int로 형변환하는게 좋다.
def calc_monthly_salary2(annual_salary):
    monthly_pay = int(annual_salary / 12)
    return monthly_pay

calc_monthly_salary(12000000)
calc_monthly_salary2(12000000)

In [ ]:
# 229

def my_print(a, b):
    print('왼쪽:', a)
    print('오른쪽:', b)

my_print(a=100, b=200)

# 실행결과 예측
# 왼쪽: 100
# 오른쪽: 200

In [ ]:
# 230

def my_print(a, b):
    print('왼쪽:', a)
    print('오른쪽:', b)

my_print(b=100, a=200)

# 실행결과 예측
# 왼쪽: 100
# 오른쪽: 200

# 파라미터, 즉 변수의 이름을 명시적으로 적어준 경우에는 순서에 상관없이 a=200, b=100이 넘어간다.

In [ ]:
# 231

def n_plus_1(n):
    result = n + 1

n_plus_1(3)
print(result)

# 실행결과 예측
# 정의된 함수의 return 값이 없어서 n_plus_1() 함수는 실행되지 않으며, result는 정의되지 않음.
# 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능하기 때문에 정의되지 않았다.

In [ ]:
# 232

def make_url(url):
    print('www.'+url+'.com')
make_url('naver')

print()
# 풀이
def make_url2(string):
    return 'www.' + string + '.com'
make_url2('naver')

In [ ]:
# 233

def make_list(string):
    answer = []
    result = answer.append(string)
    return result
make_list('abcd')

print()
# 풀이
def make_list2(string):
    my_list = []
    for i in string:
        my_list.append(i)
    return my_list
make_list2('abcd')

print()
# 또다른 풀이
def make_list3(string):
    return list(string)
make_list3('abcd')

# 변수 하나씩 따로 리스트에 추가하고 싶다면 for문을 사용한다.
# 혹은 list 형변환을 사용하면 훨씬 빠르게 문제 해결 가능하다.

In [9]:
# 234
# 풀이 참고하여 수정
def pickup_even(list):
    my_list = []
    for num in list:
        if num % 2 == 0:
            my_list.append(num)
    return my_list
pickup_even([3, 4, 5, 6, 7, 8])

print()
# 풀이
def pickup_even2(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
pickup_even2([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [15]:
# 235

def convert_int(number):
    return number.replace(',', '')
convert_int('1,234,567')

print()
# 풀이
def convert_int2(number):
    return int(number.replace(',', ''))
convert_int2('1,234,567')

# 풀이 차이점: 1번은 형변환 없이 문자열로 출력하였고, 2번은 형변환 통해 숫자로 출력

1234567

In [16]:
# 236

def 함수(num):
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

# 실행결과 예측
# a = 14
# b = 18
# c = 22
# 22

22

In [ ]:
# 237

def 함수(num):
    return num + 4
c = 함수(함수(함수(10)))
print(c)

# 실행결과 예측
# 22

In [ ]:
# 238

def 함수1(num):
    return num + 4

def 함수2(num):
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

# 실행결과 예측
# a = 14
# c = 140
# 140

In [19]:
# 239

def 함수1(num):
    return num + 4

def 함수2(num):
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

# 실행결과 예측
# 16

16

In [18]:
# 240

def 함수0(num):
    return num * 2

def 함수1(num):
    return 함수0(num + 2)

def 함수2(num):
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 실행결과 예측
# 28

28