In [2]:
# 001

print('Hello World')

Hello World

In [6]:
# 002

print('Mary\'s cosmetics')

Mary's cosmetics

In [10]:
# 003

print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
# 004

print('C:\Windows')

C:\Windows

In [12]:
# 005

print("안녕하세요. \n만나서\t\t반갑습니다.")

# \n는 줄바꿈, \t 탭 삽입

안녕하세요.
만나서		반갑습니다.

In [16]:
# 006

print("오늘은", "일요일")

# 여러 값을 출력 시 쉼표로 구분하면 공백으로 값을 구분하여 출력한다.

오늘은 일요일

**sep인자**

sep 인자를 활용하여 출력되는 값들 사이에 동일한 값을 삽입할 수 있다.

In [17]:
# 007

print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [18]:
# 008

print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [20]:
# 009

print("first", end='');print("second")

firstsecond

In [23]:
# 010

print(5/3)

1.6666666666666667

In [25]:
# 011

samsung = 50000
total_eval = samsung * 10
print(total_eval)

500000

In [26]:
# 012

market_capital = 298000000000000
current_price = 50000
PER = 15.79
print(market_capital)
print(current_price)
print(PER)

298000000000000
50000
15.79

In [28]:
# 013

s = "hello"
t = "python"

print(s, t, sep='! ')
print(s+'!', t)

hello! python
hello! python

In [29]:
# 014

a = 128
print(type(a))

b = "132"
print(type(b))

<class 'int'>
<class 'str'>

In [32]:
# 016

num_str = "720"
num_int = int(num_str)

print(num_int, type(num_int))

720 <class 'int'>

In [33]:
# 017

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [53]:
# 018

result = float('15.79')
print(result, type(result))

15.79 <class 'float'>

In [57]:
# 019

year = '2020'
result = int(year)
print(result - 3, result - 2, result - 1)

2017 2018 2019

In [58]:
# 020

ac_month = 48584
total = ac_month * 36
print(total)

1749024

In [60]:
# 021

letters = 'python'
print(letters[0], letters[2])

p t

### 문자열 슬라이싱

파이썬의 인덱스는 앞에서부터 0, 뒤에서부터 -1의 값을 갖는다.
시작 인덱스를 생략하면 0으로 간주하고, 마지막 인덱스를 생략하면 문자열의 끝을 의미한다.

In [65]:
# 022

license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [71]:
# 023

string = '홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [72]:
# 024

string = 'PYTHON'
print(string[::-1])

NOHTYP

In [74]:
# 025

phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

# string은 immutable 자료형이므로 기존 문자열은 그대로 두고 새로운 문자열이 리턴된다.

010 1111 2222

In [75]:
# 026

print(phone_number.replace('-', ''))

01011112222

In [80]:
# 027

url = 'http://sharebook.kr'
print(url[-2:])

# 풀이 오답
# 주어진 문자열에서 '.'을 기준으로 분리하면 어떤 url을 넣더라도 도메인만 출력할 수 있다.
print(url.split('.')[-1])

kr
kr

## 데이터의 분류
> cf. 01_data_container

1. 변경 불가능한(`immutable`) 데이터
    - Reference(참조) 할 뿐, 값이 복사되지고 메모리 주소만 복사 전달된다.다.
    - 원본 값하지 않고 새로운 객체를 생성한다변한다.
    - 종류
      - literal
        - 숫자 (integer/float)
        - 글자 (string)
        - 참/거짓 (bool)
      - range()
      - tuple()
      - frozenset()
2. 변경 가능한(`mutable`) 데이터
    - Value 타입으로, 값이 실제로 넘어가기 때문에 형태로  - 데??**
    -  원본 이 변한다.
       종류
        -  lis
        -   dict
       -  set  -  d     -  set

---

In [81]:
# 028

lang = 'python'
lang[0] = 'P'
print(lang)

# 문자열은 수정할 수 없는 immutable 변수이다.

TypeError: 'str' object does not support item assignment

In [85]:
# 029

string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [87]:
# 030

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [88]:
# 031

a = '3'
b = '4'
print(a + b)

34

In [89]:
# 032

print('Hi' * 3)

HiHiHi

In [90]:
# 033

print('-' * 80)

--------------------------------------------------------------------------------

In [96]:
# 034

t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

In [103]:
# 035

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

# 풀이 답안: % formatting
# '%s': 문자열 데이터 타입의 값의 출력
# '%d': 정수형 데이터 타입 값의 출력
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [104]:
# 036

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# format() 메서드
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [105]:
# 037

# f-string => python 3.6ver 부터 지원
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [107]:
# 038

stock_num = '5,969,782,550'
result = int(stock_num.replace(',', ''))
print(result, type(result))

5969782550 <class 'int'>

In [108]:
# 039

q = '2020/03(E) (IFRS연결)'
print(q[:7])

2020/03

In [109]:
# 040

data = "   삼성전자    "

print(data.rstrip().lstrip())

삼성전자

In [110]:
# 041

ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [111]:
# 042

ticker = 'BTC_KRW'
print(ticker.lower())

btc_krw

### 대소문자 변환

`.capitalize()`: 앞 글자를 대문자로 만들어 반환한다. \
`.tile()`: 어퍼스트로피(')나 공백 이후를 대문자로 만들어 반환한다. \
`.upper()`: 모두 대문자로 만들어 반환 \
`.lower()`: 모두 소문자로 만들어 반환 \
`.swapcase()`: 대소문자를 변경하여 반환

In [114]:
# 043

result = 'hello'
print(result.capitalize())

Hello

### startswith 메서드

startswith 메서드를 활용하여 파일 이름이 특정 문자열로 시작하는지 확인할 수 있다.

### endswith 메서드

endswith 메서드를 활용하여 파일 이름이 특정 문자열로 끝나는게 맞는지 확인할 수 있다. \
여러 개의 특정 문자열 중 하나인지 확인할 경우에는 tuple을 사용한다.

In [115]:
# 044

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx'))

True

In [124]:
# 045

file_name = '보고서.xlsx'
print(file_name.endswith('xlsx' or 'xls'))
print(file_name.endswith(('xlsx', 'xls')))

True
True

In [126]:
# 046

file_name = '2020_보고서.xlsx'
print(file_name.startswith('2020'))

True

In [132]:
# 047

a = 'hello world'
print(a.split())

['hello', 'world']

In [133]:
# 048

ticker = 'btc_krw'
print(ticker.split('_'))

['btc', 'krw']

In [134]:
# 049

date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

In [137]:
# 050

data = "039490     "
print(data.rstrip())

039490

In [139]:
# 051

movie_rank = ['doctor strange', 'split', 'lucky']
print(movie_rank)

['doctor strange', 'split', 'lucky']

In [141]:
# 052

movie_rank.append('batman')
print(movie_rank)

['doctor strange', 'split', 'lucky', 'batman', 'batman']

In [142]:
# 053

movie_rank.insert(1, 'super man')
print(movie_rank)

['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']

In [150]:
# 054

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
movie_rank.remove('lucky')
print(movie_rank)

# remove는 하나의 값만 받는다.

movie_rank = ['doctor strange', 'super man', 'split', 'lucky', 'batman', 'batman']
del movie_rank[3]
print(movie_rank)

['doctor strange', 'super man', 'split', 'batman', 'batman']
['doctor strange', 'super man', 'split', 'batman', 'batman']

In [152]:
# 055

del movie_rank[2:]
print(movie_rank)

['doctor strange', 'super man']

In [154]:
# 056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [158]:
# 057

nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max:  {max(nums)}\nmin:  {min(nums)}')
print()
print('max:  ', max(nums))
print('min:  ', min(nums))

max:  7
min:  1

max:   7
min:   1

In [159]:
# 058

nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [161]:
# 059

cook = ['pizza', 'kimbap', 'dumpling', 'chicken', 'pork feet', 'kimchi dumpling', 'jjolmyeon', 'sausage', 'ramen', 'shaved ice', 'kimchi pancake']
len(cook)

11

In [162]:
# 060

nums = [1, 2, 3, 4, 5]
sum(nums)/len(nums)

3.0